:root {
    --jumbotron-padding-y: 2rem;
}
#root{
        background-color: #f5f7fa;
        height: 100%;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #f5f7fa;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

#radio {
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.orange {
    color: #ffd000 !important;
}

.bg-darken-1 {
    background-color: #3f90df !important;
    background-image: linear-gradient(100deg, #0070ba00, #1546a085) !important;
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05) !important;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05) !important;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}


footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgb(255, 208, 0);
    color:white;
    transition: color .15s ease-in-out;
}
.nav-masthead .active::before,
.nav-masthead .nav-link:hover:before,
.nav-masthead .nav-link:focus:before {
    content:"";
    position: absolute;
    margin-top: 21px;
    width: 76.5px;
    height: .25rem;
    background: rgb(255, 208, 0);
    display: block;
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: rgb(255, 208, 0);
}
.nav-link {
    display: inline !important;
}
.navbar-brand{
        padding-top: 1.3125rem !important;
        white-space: pre-line !important;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}
.social a, i{
    color:white;
    margin-left:10px;
    margin-top: 12px;
}
.social a,
i:hover{
    color: rgb(255, 208, 0);
    transition: color .15s ease-in-out;
}
.nav{
    display: inline-flex !important;
    margin-bottom: 1em !important;
}

.arrow{
    color: #3f90df;
}
.scroll{
        z-index: 1 !important;
}

#brandname{
    float: right;
    padding-top: 6px;
    padding-left: 8px;
}
.loader{
        position: absolute;
        width: 0px;
        z-index: 2000000000;
        left: 50%;
        top: 380px;
}
.modal-header{
    width: 100%;
    display: inline-block !important;
    object-fit: cover;
    padding: 0 !important;
}
.modal-title{
  padding: 1rem;
}

.modal-header .close {
    padding: 2rem;
}

.sharebuttons{
        display: inline-flex;
        margin: auto !important;
        cursor: pointer;
}
.SocialMediaShareButton{
    margin-left:10px;
}
.navbar{
        background-color: #3f90df;
        border-bottom: 1px solid #0070ba;
        background-image: linear-gradient(100deg, #0070ba00, #1546a085);
}

#browsercheck {
    font-size: 8px;
}

.navZ{
    z-index: 2;
}

.bottomText{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10%;
}

.video-js .vjs-big-play-button {
    height: 2em !important;
    width: 2em !important;
    line-height: 1.7em !important;
    margin-top: -1em !important;
    margin-left: -1em;
    border-width: 4px;
    background-color: rgb(58, 135, 216);
    border-radius: 1.3em;
    font-size: 3em;
}

.nav-item {
    padding-top: 20px;
}


  .cassette__media_button_wrapper {
      display: inline-block;
  }

  .cassette__media_button {
      padding-left: 11px;
      padding-right: 11px;
      margin-left: 4px;
      margin-right: 4px;
      cursor: pointer;
      align-self: center;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      height: 50px;
  }

  .cassette__media_button .foreground {
      opacity: 0.8;
  }

  .cassette__media_button:hover .foreground,
  .cassette__media_button.highlight .foreground {
      opacity: 1;
  }

  .cassette__media_button:active .foreground {
      opacity: 0.7;
  }

  .cassette {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      height: 100%;
      background-color: #3077c9;
      border-top: 1px solid #0070ba;
  }

  .cassette__control_bar {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      /* flex-wrap: wrap-reverse; */
      -webkit-box-pack: center;
      /* justify-content: center; */
  }

  .cassette__control_bar>* {
      height: 50px;
  }

  .cassette__media_progress_container {
      position: relative;
      -webkit-box-flex: 1;
      flex-grow: 1;
      min-width: 300px;
  }

  .cassette__media_progress_bar {
      height: 100%;
  }

  .cassette__media_progress_bar .progress {
       display:none !important;
  }

  .cassette__media_status_bar {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }

  .cassette__media_info_marquee {
      /* to make room for __media_time_progress */
      width: calc(100% - 180px);
      margin-left: 10px;
      font-size: 19.2px;
      color: #fff;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
  }

  .cassette__media_info_marquee>* {
      width: 100%;
  }

  .cassette__media_info_marquee>*>* {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
  }

  .cassette__media_time_progress {
      display:none !important;
  }

  .cassette__play_pause_button {
      background: none;
      border: none;
  }

  .cassette__play_pause_button .foreground {
      position: relative;
      width: 30px;
      height: 30px;
  }

  .cassette__play_pause_button .left,
  .cassette__play_pause_button .right {
      position: absolute;
      top: 0;
      transition-property: width;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      width: 50%;
      height: 100%;
      overflow: hidden;
  }

  .cassette__play_pause_button .left::after,
  .cassette__play_pause_button .right::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      transition-property: border, height;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      border-style: solid;
      border-width: 15px 30px;
      border-color: transparent transparent transparent #fff;
      width: 0;
      height: 0;
  }

  .cassette__play_pause_button .left {
      left: 0;
  }

  .cassette__play_pause_button .left::after {
      left: 0;
  }

  .cassette__play_pause_button .right {
      right: 0;
  }

  .cassette__play_pause_button .right::after {
      right: -30px;
  }

  .cassette__play_pause_button.playing .left,
  .cassette__play_pause_button.playing .right {
      width: 36%;
  }

  .cassette__play_pause_button.playing .left::after,
  .cassette__play_pause_button.playing .right::after {
      border-width: 0 30px;
      height: 30px;
  }

  .cassette__volume_control {
      height: 50px;
      position: relative;
  }

  .cassette__volume_control__volume_bar_container {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 1;
  }

  .cassette__volume_control__volume_bar_container.hiddenup,
  .cassette__volume_control__volume_bar_container.hiddenright {
      visibility: hidden;
  }

  .cassette__volume_control__volume_bar_container.hiddenup,
  .cassette__volume_control__volume_bar_container.upabove {
      width: 100%;
      height: 158px;
  }

  .cassette__volume_control__volume_bar_container.hiddenright,
  .cassette__volume_control__volume_bar_container.rightabove,
  .cassette__volume_control__volume_bar_container.rightbelow {
      width: 180px;
      height: 78px;
  }

  .cassette__volume_control__volume_bar_container.hiddenup,
  .cassette__volume_control__volume_bar_container.hiddenright,
  .cassette__volume_control__volume_bar_container.upabove,
  .cassette__volume_control__volume_bar_container.rightabove {
      bottom: 50px;
  }

  .cassette__volume_control__volume_bar_container.rightbelow {
      top: 50px;
  }

  .cassette__volume_control__volume_bar {
      position: absolute;
      border-radius: 11px;
      background-color: #333;
      box-shadow: 1px 1px 6px 2px rgba(36, 36, 36, 0.8);
  }

  .cassette__volume_control__volume_bar.hiddenup,
  .cassette__volume_control__volume_bar.upabove {
      bottom: 28px;
      top: 50px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 22px;
  }

  .cassette__volume_control__volume_bar.hiddenright,
  .cassette__volume_control__volume_bar.rightabove,
  .cassette__volume_control__volume_bar.rightbelow {
      bottom: 28px;
      top: 28px;
      left: 50px;
      right: 50px;
  }

  .cassette__volume_control__volume_bar .volume {
      border-radius: 11px;
      background-color: rgba(127, 127, 127, 0.295);
  }

  .cassette__volume_control__volume_bar .handle {
      cursor: pointer;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: rgba(127, 127, 127, 0.295);
      box-shadow: 1px 1px 6px 0px rgba(51, 51, 51, 0.8);
      position: relative;
  }

  .cassette__volume_control__volume_bar .handle>div {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.8;
  }

  .cassette__volume_control__volume_bar .handle:hover>div,
  .cassette__volume_control__volume_bar .handle.highlight>div {
      opacity: 1;
  }

  .cassette__volume_control__volume_bar .handle:active>div {
      opacity: 1;
  }

  .cassette__material_toggle {
      background: none;
      border: none;
  }

  .cassette__material_toggle .inner {
      margin-left: -8px;
      margin-right: -8px;
      width: 48px;
      height: 42px;
  }

  .cassette__material_toggle svg {
      fill: rgba(255, 255, 255, 0.5);
  }

  .cassette__material_toggle.on svg {
      fill: #fff;
  }

  .cassette__skip_button {
      background: none;
      border: none;
  }

  .cassette__skip_button.back {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }

  .cassette__skip_button .skip_button_inner {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
  }

  .cassette__skip_button .right_facing_triangle {
      width: 0;
      height: 0;
      border-left: 16px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
  }

  .cassette__skip_button .vertical_bar {
      width: 0;
      height: 0;
      margin-left: -3px;
      border-left: 3px solid #fff;
      border-top: 10px solid #fff;
      border-bottom: 10px solid #fff;
  }

  .cassette__video_display_container {
      -webkit-box-flex: 1;
      flex-grow: 1;
  }

  .cassette__spacer {
      width: 10px;
  }

  /* AUDIOPLAYER FOR EDGE */

  .audio_time_progress {
      display: none !important;
  }

  .audio_player .audio_info_marquee {
      width: 100% !important;
      overflow: hidden;
      width: calc(100% - 180px);
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: initial;
  }

  .audio_player .audio_info {
      display: block;
      width: 100%;
      white-space: nowrap;
      word-break: break-all;
      margin: 0;
      font-size: 19.2px;
      color: #fff;
  }

  .audio_player {
      display: flex;
      flex-direction: row;
      height: 50px;
      background-color: #3077c9;
      width: 100%;
      border-top: 1px solid #0070ba;
  }

  .audio_player .play_pause_button .triangle_1,
  .audio_player .play_pause_button .triangle_2 {
      border-right: 30px solid #3077c9;
  }

  @media screen and (min-width: 370px) {
      .audio_player .audio_info {
          display: initial;
          animation: none !important;
      }
  }

  @media screen and (min-width: 450px) {
      .audio_player .audio_info {
          animation: none !important;
      }
  }

  @media screen and (min-width: 550px) {
      .audio_player .audio_info {
          animation: none !important;
      }
  }

  @media screen and (min-width: 650px) {
      .audio_player .audio_info {
          animation: none !important;
      }
  }

  @media screen and (min-width: 720px) {
      .audio_player .audio_info {
          animation: none !important;
      }
  }

  #ArubaNative,
  #MasNoticia,
  #NoticiaCla,
  #Diario,
  #SoloDiPueblo,
  #dosCuatorOra,
  #BoletinExtra,
  #EarubianoNews,
  #AweMainta,
  #Focus,
  #VisitAruba,
  #BonDia,
  #dosNuebeSheteSports{
      margin-top: 130px;
  }